.topBar{
    position: relative;
    margin: 0;
    background-color: white;
}

.topContainer{
    display: flex;
    /* height: 25px; */
    align-items: center;
    justify-content: space-between;
    /* background-color: white; */
    /* border: solid red; */
    max-width: none;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-left-width: 50px;
    border-right-width: 50px;
}
.navs{
    flex-grow: 1;
    align-self: stretch;
}



.navOptions{
    /* text-align: right; */
    display: flex;
    align-items: center;
    /* position: relative; */
    justify-content: end;
    /* border: solid black; */
    height: 100%;
}

.proLearn,
.entSol,
.diveDes,
.donNow,
.about,
.search {
    margin-left: 15px;
    margin-right: 30px;
    margin-top: 30px;
    padding-bottom: 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    /* border: solid black; */
    
}

.proLearn:hover,
.entSol:hover,
.diveDes:hover,
.donNow:hover,
.about:hover,
.search:hover{
    border-bottom: solid rgb(88, 199, 255);
    border-width: 1px;
}
.search{
    height: 20px;
}

.mainSection{
    margin: 0;
}
.bothItem.subsection1{
    padding-bottom: 100px;
}

.bothItem .info1{
    display: flex;
}

.leftSub1{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.leftSub1 {
    position: relative;
}
.leftImage{
    height: 100%;
}

.leftText{
    max-width: 75%;
    position: absolute;
    bottom: 85px;
    transform: translate(-50%,0);
    left: 50%;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: white;
    border: solid blue;
}

.leftTitle{
    font-weight: bold;
    font-size:x-small;
}

.leftParagraph{
    font-size: medium;
}

.leftButton{
background-color: orange;
text-align: center;
font-weight: bold;
font-size: small;
padding-top: 5px;
padding-bottom: 5px;
text-decoration: none;
}
.leftButton:Hover {
    background-color: rgb(166, 91, 0);
    transition: 0.5s linear;
}

.rightSub1{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.rightImage{
    height: 100%;

}
.rightText{
    max-width: 75%;
    width: 20%;
    position: absolute;
    /* bottom: 585px; */
    transform: translate(-50%,0);
    left: 75%;
    background: white;
    border: solid blue;
}

.subsection2{
    height: 100px;
    width: 90%;
    border: solid black;
    margin: 100px
}

.subsection3{
    height: 100px;
    width: 90%;
    border: solid yellow;
    margin: 100px
}

.subsection4{    
    height: 100px;
    width: 90%;
    border: solid red;
    margin: 100px

}

